name: Deploy to Production

on:
  push:
    branches:
      - main
    paths:
      - "site/**"
  pull_request:
    paths:
      - "site/**"

jobs:
  deploy:
    environment: cloudflare-janhoon-production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Bun
        uses: oven-sh/setup-bun@v1
        with:
          version: latest

      - name: Setup bun cache
        uses: actions/cache@v4
        with:
          path: ~/.bun
          key: ${{ runner.os }}-bun-${{ hashFiles('site/**/bun.lockb') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install Dependencies
        working-directory: site
        run: bun install --frozen-lockfile

      # - name: Run Tests
      #   working-directory: site
      #   run: bun test

      - name: Lint
        if: github.event_name == 'pull_request'
        working-directory: site
        run: bun lint

      - name: Build and Deploy to Cloudflare Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        working-directory: site
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          NEXT_PUBLIC_POSTHOG_KEY: ${{ secrets.NEXT_PUBLIC_POSTHOG_KEY }}
          NEXT_TELEMETRY_DISABLED: 1
        run: |
          echo "${{ toJSON(secrets) }}"
          pnpm run deploy

      - name: Cache Next.js Build
        id: cache-build
        uses: actions/cache@v4
        with:
          path: |
            site/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('site/**/*.{js,jsx,ts,tsx}') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-
